{% extends 'base/main.html' %}
{% load i18n %}
{% block content %}
<div class="header-bar">
    <a href="{% url 'profile' %}">&#8592; {% trans "Back" %}</a>
</div>
    <div class="header-bar">    
    <h1>{% trans "Password Change" %}</h1>
    </div>
    <div class="task-form-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{form.as_p}}
            <button class="button" type="submit">{% trans "Submit" %}</button>
        </form>   
    </div>
{% endblock content %}
