{% extends 'base/main.html' %}
{% load i18n %}
{% block content  %}

<div class="header-bar">
    <h1>{% trans "Registration" %}</h1>
</div>

<div class="task-form-body">
    {{ form.errors }}
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.email.label}}</label>
        {{form.email}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <p></p>
        <button class="button" type="submit">{% trans "Submit" %}</button>
    </form>
    <p>{% trans "Already have an account ?" %}<a class="button-reg-log" href="{% url 'login' %}">{% trans "Login" %}</a></p>
</div>
{% endblock content %}