a, p {
    color: #4b4b4b
}
.button {
    border: 1px solid black;
    background: linear-gradient(to left, rgb(233, 211, 98), rgb(51, 51, 51));
    color: #FAFAFA;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.button-reg-log {
    border: 1px solid black;
    background: linear-gradient(to left, rgb(233, 211, 98), rgb(51, 51, 51));
    color: #FAFAFA;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
}
body {
    background-image: url(background.png);
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
    padding-top: 50px;
}
.container {
    max-width: 550px;
    border-radius: 1%;
    margin: auto;
    background-color: #fafafa;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}
.delete-link{
    text-decoration: none;
}
.form {
    display: flex;
    margin-top: 20px;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 5px;
    border-radius: 1%;
    background: linear-gradient(to left, rgb(233, 211, 98), rgb(51, 51, 51));
}
.header-bar a {
    color:#fff;
    text-decoration: none;
}
hr {
    padding-top: 0px;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
input[type=text],
input[type=password],
textarea{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 70%;
}
label {
    padding-top: 10px;
    display: block;
}
.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
}
.task-complete {
    height: 20px;
    width: 20px;
    background-color: rgb(10, 210, 10);
    border-radius: 50%;
}
.task-create {
    text-decoration: none;
    font-size: 42px;
    color: green;
    text-shadow: 1px 1px rgb(7, 179, 7);
    padding-right: 15px;
    
}
.task-form-body {
    padding: 20px;
}
.task-incomplete {
    height: 20px;
    width: 20px;
    background-color: rgb(233, 211, 98);
    border-radius: 50%;
}
.task-title {
    display: flex;
}
.task-title a {
    text-decoration: none;
    color: grey;
    margin-left: 10px;
}

